<footer class="footer abajo text-muted" th:fragment="footer">
	<div class="container abajo">
		<p class="float-right">
			<a href="#">Ir Arriba</a>
		</p>
		<p>
			Cines Mendoza, sitio desarrollado por <a href="mailto:lisandroscofano@gmail.com">Lisandro Scofano</a>
		</p>
	</div>
</footer>