<head th:fragment="head">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Lisandro Scofano">
<title>CINES MENDOZA</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/iconos/all.css}" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
<!-- Custom styles for this template -->
<link th:href="@{/css/album.css}" rel="stylesheet">
</head>