<header th:fragment="header">
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
		<h5 class="my-0 mr-md-auto font-weight-normal text-white"><a th:href="@{/}" class="text-white">Cines Mendoza</a></h5>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="p-2 text-white" th:href="@{/pelicula/listado}">Peliculas</a> 
			<a class="p-2 text-white" th:href="@{/sala/listado}">Salas</a> 
			<a class="p-2 text-white" th:href="@{/funcion/listado}">Funcion</a> 
		</nav>
	</div>
</header>