<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="fragmentos/head :: head"></head>
<body>
	<header th:replace="fragmentos/header :: header"> </header>
	<main role="main">
		<div class="container d-flex justify-content-center">
			<form method="post" id="formulario" th:action="@{/funcion/guardar}">
				<input type="hidden" th:if="${funcion.id}" th:value="${funcion.id}"
					name="id" />
				<div>
					<div class="row">
						<div class="col-lg-12 mt-5">
							<div class="form-group row mt-5">
								<label class="col-lg-4 col-form-label">Fecha</label>
								<div class="col-lg-8">
									<input type="date" class="form-control" name="fechaSeparada"
										th:value="${#dates.format(funcion.fecha, 'yyyy-MM-dd')}"/>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-4 col-form-label">Pelicula</label>
								<div class="col-lg-8">
									<select class="form-control" name="peliculaId" required>
										<option th:if="${funcion.pelicula} == null" selected></option>
										<option th:if="${funcion.pelicula} != null" selected
											th:value="${funcion.pelicula.id}" th:text="${funcion.pelicula.titulo}"></option>
										<option
											th:each="pelicula : ${peliculas}"
											th:value="${pelicula.id}" th:text="${pelicula.titulo}"></option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-4 col-form-label">Sala</label>
								<div class="col-lg-8">
									<select class="form-control" name="salaId" required>
										<option th:if="${funcion.sala} == null" selected></option>
										<option th:if="${funcion.sala} != null" selected
											th:value="${funcion.sala.id}" th:text="${funcion.sala.nombre}"></option>
										<option
											th:each="sala : ${salas}"
											th:value="${sala.id}" th:text="${sala.nombre}"></option>
									</select>
								</div>
							</div>
							<div class="form-group  row">
								<label class="col-lg-4 col-form-label">Horario</label>
								<div class="col-lg-8">
									<input type="text" class="form-control" name="horario"
										th:value="${funcion.horario}" required/>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-end mt-3">
						<input type="submit" value="Guardar" class="btn btn-dark" />
					</div>
				</div>
			</form>
		</div>
		<div class="mb-5"></div>

	</main>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')
	</script>
	<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>
