<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="fragmentos/head :: head"></head>
<body>
	<header th:replace="fragmentos/header :: header"> </header>

	<main role="main">

		<section>
			<div>
				<img th:src="@{/img/cine.jpg}" class="img-fluid" />
			</div>
			<div class="album py-5 bg-light">
				<div class="container">
					<div class="row">
						<div class="col-md-4" th:each="funcion : ${funciones}">
							<div class="card mb-4 shadow-sm">
								<img th:src="@{/img/rollo.jpg}"
									class="bd-placeholder-img card-img-top" width="100%"
									height="225" xmlns="http://www.w3.org/2000/svg"
									preserveAspectRatio="xMidYMid slice" focusable="false"
									role="img" aria-label="Placeholder: Thumbnail">
								<div class="card-body">
									<h3>
										Pelicula: <span th:text="${funcion?.pelicula?.titulo}"></span>
									</h3>
									<p class="card-text">
										Protagonista: <span
											th:text="${funcion?.pelicula?.protagonistas}"></span>
									</p>
									<p class="card-text">
										Sala: <span th:text="${funcion?.sala?.nombre}"></span>
									</p>
									<p class="card-text">
										Horario: <span th:text="${funcion.horario}"></span>
									</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<a type="button" class="btn btn-secondary"
												th:href="@{reserva/crear/__${funcion.id}__}">Reservar</a>
										</div>
										<small class="text-muted"><span
											th:text="${funcion.asientosDisponibles}"></span> Asientos
											disponibles</small>
									</div>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<a type="button" class="btn btn-outline-secondary mt-3"
												th:href="@{reserva/listado/__${funcion.id}__}">Ver Reservas</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer th:replace="fragmentos/footer :: footer"></footer>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')
	</script>
	<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>
