<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="fragmentos/head :: head"></head>
<body>
	<header th:replace="fragmentos/header :: header">
	</header>

	<main role="main">
		<div class="container d-flex justify-content-center">
			<form method="post" id="formulario" th:action="@{/pelicula/guardar}">
			<input type="hidden" th:if="${pelicula.id}" th:value="${pelicula.id}" name="id"/>
				<div>
					<div class="row">
						<div class="col-lg-12 mt-5">
							<div class="form-group row mt-5">
								<label class="col-lg-4 col-form-label">Titulo</label>
								<div class="col-lg-8">
									<input type="text" class="form-control" name="titulo"
										th:value="${pelicula.titulo}" required/>
								</div>
							</div>
							<div class="form-group  row">
								<label class="col-lg-4 col-form-label">Protagonistas</label>
								<div class="col-lg-8">
									<input type="text" class="form-control" name="protagonistas"
										th:value="${pelicula.protagonistas}" required/>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-4 col-form-label">Genero</label>
								<div class="col-lg-8">
									<select class="form-control" name="genero" required>
										<option th:if="${pelicula.genero} == null" selected></option>
										<option th:if="${pelicula.genero} != null" selected
											th:value="${pelicula.genero}" th:text="${pelicula.genero}"></option>
										<option
											th:each="genero : ${T(com.interbrain.salas.enumeraciones.Generos).values()}"
											th:value="${genero}" th:text="${genero}"></option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-end mt-3">
						<input type="submit" value="Guardar" class="btn btn-dark" />
					</div>
				</div>
			</form>
		</div>
		<div class="mb-5"></div>

	</main>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')
	</script>
	<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>
