<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="fragmentos/head :: head"></head>
<body>
	<header th:replace="fragmentos/header :: header"></header>
	<div class="container">
		<main role="main">
			<div id="wrap" class=" mt-5">
				<div id="main" class="container clear-top">
				<h1>Listado de Salas</h1>				
					<div class="d-flex justify-content-end mt-5">
						<a class="btn btn-dark mb-5" th:href="@{/sala/crear}">Agregar
							Sala</a>
					</div>
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Nombre</th>
								<th scope="col">Capacidad</th>
								<th scope="col">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="sala : ${salas}" class="text-dark">
								<th th:text="${sala.nombre}"></th>
								<th th:text="${sala.capacidad}"></th>
								<td style="text-align: right;"><a
									th:href="@{/sala/editar/__${sala.id}__}"
									class="btn btn-default  btn-sm"> <svg
											xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
											width="16" height="16">
											<path fill-rule="evenodd"
												d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z"></path></svg>
								</a><a th:href="@{/sala/eliminar/__${sala.id}__}"
									class="btn btn-default  btn-sm m-l-xs"><svg
											xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
											width="16" height="16">
											<path fill-rule="evenodd"
												d="M6.5 1.75a.25.25 0 01.25-.25h2.5a.25.25 0 01.25.25V3h-3V1.75zm4.5 0V3h2.25a.75.75 0 010 1.5H2.75a.75.75 0 010-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75zM4.496 6.675a.75.75 0 10-1.492.15l.66 6.6A1.75 1.75 0 005.405 15h5.19c.9 0 1.652-.681 1.741-1.576l.66-6.6a.75.75 0 00-1.492-.149l-.66 6.6a.25.25 0 01-.249.225h-5.19a.25.25 0 01-.249-.225l-.66-6.6z"></path></svg>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')
	</script>
	<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>
